.btn-green{
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #04534F !important;
    --bs-btn-border-color: #04534F;
    --bs-btn-hover-color: #04534F;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #04534F !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #04534F;
    --bs-btn-active-border-color: #04534F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #04534F;
    --bs-btn-disabled-border-color: #04534F;
    float: right;
}

.custom-height{
    min-height: 60vh;
}
.not-allowed-cursor {
    cursor: not-allowed !important;
}